datasets
*.csv
#*.pdf
#*.ipynb
*.xsls
*.tab
snippet*.py
*.tsv
*.tfevents
*.json
catboost_info

# Analysis folders - ignore Python scripts but keep SVGs
**/hesus-analysis/*.py
**/hesus-analysis/*.ipynb
**/hesus-analysis/*.csv